<div class="content">
    <div class="sub_content">
<div class="tweet-post-container">
    <div class="tweet-header">
      <img
        src="https://via.placeholder.com/50"
        alt="Profile"
        class="profile-image"
      />
      <textarea
        [(ngModel)]="content"
        placeholder="Quoi de neuf ?"
        maxlength="280"
      ></textarea>
    </div>
    <div class="tweet-footer">
      <span class="char-count"
        >{{ content ? content.length : 0 }}/280</span
      >
      <button
        (click)="postTweet()"
        [disabled]="!content || content.length > 280"
      >
        Post
      </button>
    </div>
  </div>
  
  <div class="post-list">
    <div *ngFor="let post of posts" class="post">
        <div class="post-header">
            <img 
              [src]="post.author.gender === 'female' ? 'assets/img/female-avatar.png' : 'assets/img/male-avatar.png'" 
              alt="Profile" 
              class="profile-image" 
            />
            <div class="user-info">
              <span class="username">{{ post.author.username }}</span>
              <span class="timestamp">{{ post.createdAt | date: 'short' }}</span>
            </div>
          </div>
          
      <div class="post-content">
        {{ post.content }}
      </div>
      <div class="post-actions">
        <button (click)="likePost(post._id)" class="like-button">
          <i class="fas fa-heart"></i> {{ post.likes.length}}
        </button>
        <button class="comment-button">
          <i class="fas fa-comment"></i> {{ post.comments.length }}
        </button>
      </div>
      <div class="comments-section">
        <div *ngFor="let comment of post.comments" class="comment">
          <img src="https://via.placeholder.com/30" alt="Profile" class="comment-profile-image" />
          <div class="comment-content">
            <strong>{{ comment.author.authorname }}:</strong> {{ comment.content }}
          </div>
        </div>
        <div class="add-comment">
          <input
            #commentInput
            type="text"
            placeholder="Ajouter un commentaire..."
            (keyup.enter)="addComment(post._id, commentInput.value); commentInput.value = ''"
          />
        </div>
      </div>
    </div>
  </div>
</div>
</div>