

  <div class="d-flex flex-column flex-lg-row flex-column-fluid split-screen">
    <div class="col-lg-6 col-sm-12">
        <div class="bg">
            <div class="flex-container w-100">
                <div class="text-center mb-3">
                    <h2 class="custom-heading">
                        Quick Post
                    </h2>
                    <div class="custom-div">
                        Partagez vite, restez connecté
                    </div>
                </div>
                <span class="copyright fs-6 text-white px-5 w-md-100 text-center w-100 mt-5">
                    Copyright &#169; {{ year }}
                    <span class="text-white">
                        Réalisé par
                    </span>
                    <a class="text-white" target="_blank">
                       QuickPost
                    </a>
                  
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12">
        <div class="align-items-center flex-column-fluid flex-center px-7">
            <div class="page">
                <div class="text-center mb-8 matop">
                    <h5 class="title font-weight-bolder text-dark fs-4 font-size-h1-lg">
                        Bienvenue sur
                        <span class="font-weight-bolder fs-3" style="color: #6356e5">Quick Post</span>
                    </h5>
                    <div class="title separator separator-content mt-8 mb-18">
                    
                    </div>
                </div>
                <form class="form fotop" [formGroup]="loginForm" novalidate="novalidate" (ngSubmit)="submit()">
                    <div class="fv-row mb-8">
                        <div class="form-group rounded">
                          <label
                            for="email"
                            class="form-label fs-6 fw-bolder text-dark"
                       
                          >
                          Adresse e-mail 
                          </label>
                          <input
                            id="emailInput"
                            class="form-control"
                            type="email"
                            name="email"
                            formControlName="email"
                            autocomplete="off"
                            [ngClass]="{
                              'is-invalid':
                                loginForm.controls['email'].invalid &&
                                loginForm.controls['email'].dirty &&
                                loginForm.controls['email'].touched,
                              'is-valid': loginForm.controls['email'].valid
                            }"
                            [ngStyle]="{
                              'border-color':
                                isControlValid('email') && isControlTouched('email')
                                  ? '#6356e5'
                                  : isControlInvalid('email')
                                  ? 'red'
                                  : ''
                            }"
                          />
                    
                          <div
                            *ngIf="loginForm.controls['email']?.errors?.['email']"
                            [ngClass]="'error'"
                            class="form-text text-danger text-warning"
                            style="font-weight: bold"
                          
                          >
                          L'adresse e-mail doit être une adresse valide                          </div>
                    
                          <div
                            *ngIf="
                                  loginForm.controls['email']?.errors?.['required'] &&
                                  loginForm.controls['email'].touched
                                "
                            class="form-text text-danger text-warning"
                            [ngClass]="'error'"
                            style="font-weight: bold"
                      
                          >
                          Adresse e-mail est requis
                          </div>
                        </div>
                      </div>
                    
                      <div class="form-group inner-addon right-addon">
                        <label
                          for="password"
                          class="form-label fs-6 fw-bolder text-dark"
                    
                        >
                        Mot de passe
                        </label>
                        <div class="input-group col-6 mx-auto">
                          <input
                            name="password"
                            id="passwordInput"
                            formControlName="password"
                            [type]="showPassword ? 'text' : 'password'"
                            class="form-control rounded"
                            autocomplete="off"
                            [ngStyle]="{
                              'border-color':
                                isControlValid('password') && isControlTouched('password')
                                  ? '#6356e5'
                                  : isControlInvalid('password')
                                  ? 'red'
                                  : ''
                            }"
                          />
                          <div>
                            <i
                              alt="show"
                              class="far fa-eye eye-show"
                              (click)="showPassword = !showPassword"
                              [class.hide]="!showPassword"
                              style="color: black; font-size: 22px"
                            ></i>
                            <i
                              alt="hide"
                              class="far fa-eye-slash eye-hide"
                              (click)="showPassword = !showPassword"
                              [class.hide]="showPassword"
                              style="color: black; font-size: 22px"
                            ></i>
                          </div>
                        </div>
                    
                        <div class="fv-row mb-3">
                          <div
                            *ngIf="
                                  loginForm.controls['password']?.errors?.['required'] &&
                                  loginForm.controls['password'].touched
                                "
                            class="form-text text-danger text-warning"
                            [ngClass]="'error'"
                            style="font-weight: bold"
                         
                          >
                          Mot de passe est requis                          </div>
                    
                          <div
                            *ngIf="loginForm.controls['password']?.errors?.['minlength']"
                            class="form-text text-danger text-warning"
                            [ngClass]="'error'"
                            style="font-weight: bold"
                      
                          >
                          Le mot de passe doit contenir entre huit et soixante-huit caractères                          </div>
                    
                          <div
                            *ngIf="loginForm.controls['password']?.errors?.['maxlength']"
                            class="form-text text-danger text-warning"
                            [ngClass]="'error'"
                            style="font-weight: bold"
                          
                          >
                          Le mot de passe doit contenir entre huit et soixante-huit caractères"

                          </div>
                        </div>
                      </div>
                    
                      <div class="fv-row d-flex justify-content-between align-items-center mb-3">
                        <div class="captcha">
                      
                        </div>
                
                      </div>
                      <div class="d-flex justify-content-center mt-2">
                        <div class="tooltip-custom">
                          <button
                            id="submit_button"
                            [disabled]="loginForm.invalid || loadingButton"
                            type="submit"
                            class="btn btn-primary px-5"
                            style="background: #6356e5; color: white; border-color: #6356e5"
                        
                          >
                            <ng-container *ngIf="loadingButton">
                              <span class="indicator-progress" [style.display]="'block'">
                                Envoyer...
                                <span
                                  class="spinner-border spinner-border-sm align-middle ms-2"
                                ></span>
                              </span>
                            </ng-container>
                            <ng-container *ngIf="!loadingButton">
                              <span class="indicator-label">
                                Envoyer
                              </span>
                            </ng-container>
                          </button>
                         
                        </div>
                      </div>
                   
                </form>
                <div class="text-center mt-4">
                    <span class=" fs-6 fw-bolder text-dark">Vous n'avez pas de compte</span>
                    <a routerLink="/auth/register" class="forget-password ml-2">
                       Register
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>