<div class="wrapper">
    <div class="navbar">
      <div class="navbar_left">
        <div class="logo">
            <img src="../../../../assets/img/logoNB.png" alt="profile_pic" class="logoImg">
        </div>
      </div>
  
      <div class="navbar_right">
    
  
        <div class="profile">
          <div class="icon_wrap" (click)="toggleProfile()">
            <img src="../../../../assets/img/user.png" alt="profile_pic">
            <span class="name">John Alex</span>
            <i class="fas fa-chevron-down"></i>
          </div>
  
          <div class="profile_dd">
            <ul class="profile_ul">
        

              <li><a class="logout" href="#"><span class="picon"><i class="fas fa-sign-out-alt"></i></span>Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  
  
  </div>
  